<div class="container">
  <a data-toggle="collapse" href="#orderToggle" role="button" aria-expanded="false" aria-controls="orderToggle">
    <div class="order">
      <span>Order #1387676</span>
      <span>Needs pulled: cases</span>
      <span>YRC</span>
    </div>
  </a>
  <div id="orderToggle">
    <table id="itemsTable">
      <tbody>
        <tr>
          <th>Bin</th>
          <th>Item</th>
          <th>Pallets</th>
          <th>Case pack <br>Cases per plt</th>
          <th>QOH</th>
        </tr>
        <tr>
          <td>
            <div>Pri: A:1:1:1</div>
            <div>Pick: </div>
          </td>
          <td>J071CL</td>
          <td><input type="number" name="cases" class="cases" max="5">/5</td>
          <td>
            <span>400</span> <input type="radio" name="matchPack" id=""><label for="">Matches</label><br>
            <span>4</span> <input type="radio" name="matchPlt" id=""><label for="">Matches</label>
            
          </td>
          <td>NA<i class="fa fa-check-circle-o fa-2x" aria-hidden="true"></i></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

