<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

    <h1 class="center">LTL Queue</h1>
    <h2 class="center">Home</h2>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Select mode<i class="fa fa-caret-down" aria-hidden="true"></i>
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="partials-list">Partials</a>
        <a class="dropdown-item" href="full-cases-list">Full cases</a>
        <a class="dropdown-item" href="full-pallets-list">Full pallets</a>
        <a class="dropdown-item" href="view-only">View only</a>
      </div>
    </div>
<p>Welcome to the less than truckload shipping page! To begin please choose a mode from the drop down. You will then be able to indicate when you have grabbed the appropriate items from stock to send out to the clients.</p>
<div class="card card-body">
  Updates:
  <ul>
    <li>Basic layout</li>
    <li>can select pages</li>
    <li>Full cases displays orders</li>
  </ul>
</div>
</body>
</html>
