<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

    <h1>LTL Queue</h1>
    <h2>Full cases</h2>

<div class="container">
  <div class="order" onclick="toggleOrderView()">
    <span>Order #1387676</span>
    <span>Needs pulled: cases</span>
    <span>YRC</span>
  </div>
  <div>
  <table id="itemsTable">
    <tbody>
      <tr>
        <th>Bin</th>
        <th>Item</th>
        <th>Cases</th>
        <th>Case pack</th>
        <th>QOH</th>
      </tr>
      <tr>
        <td>
          <div>Pri: A:1:1:1</div>
          <div>Pick: </div>
        </td>
        <td>J071CL</td>
        <td><input type="number" name="cases" class="cases" max="5">/5</td>
        <td>400</td>
        <td>NA<i class="fa fa-check-circle-o fa-2x" aria-hidden="true"></i></td>
      </tr>
    </tbody>
  </table>
  </div>
  </div>
</body>
</html>
